/*
Scss - Footer

Footer & Navigation Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Site Footer
2.0 - Footer Primary
	2.1 - Contact
	2.2 - Social
	2.3 - Menu
3.0 - Footer Secondary
--------------------------------------------------------------*/

//1.0 - Site Footer
.site-footer {
	padding: rem(48px) 0 0;
	background-color: $navy-1;
	color: $white;
}

// 2.0 - Footer Primary
.site-footer-primary {
	margin: 0 0 rem(142px);

	@include respond-below(sm) {
		margin: 0 0 rem(60px);
	}
}

.site-footer-primary__contact {
	@include respond-above(md) {
		grid-column: span 2;
	}

	@include respond-between(sm, md) {
		grid-column: span 4;
	}
}

.site-footer-primary__menu {
	@include respond-above(md) {
		grid-column: span 10;
	}

	@include respond-below(md) {
		grid-column: span 4;
	}
}

// 1.1 - Logo / Contact
.site-footer-primary__contact {
	.foot-logo {
		display: block;
		margin: 0 0 rem(24px);
	}

	#logo {
		width: rem(89px);
		height: auto;

		path {
			fill: $white;
		}
	}
}

// 1.2 - Social
.site-footer-primary__social {
	display: flex;
	flex-flow: row wrap;
	gap: rem(10px);
	margin: 0;
	padding: 0;
	list-style-type: none;

	a {
		transition: color 0.3s;
		font-size: rem(24px);
		color: $white;

		&:hover {
			color: rgba($color: $white, $alpha: 60%);
		}
	}
}

// 2.0 - Menu
.site-footer-primary__menu {
	.footer-menu__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: rem(24px);
	}

	.footer-menu__item {
		margin: 0;
		padding: 0;
		width: fit-content;
	}

	.footer-menu__link {
		display: block;
		color: $white;
		text-decoration: none;
		font-size: rem(16px);
		font-weight: $bold;
		transition: color 0.3s;

		&:hover,
		&:focus-visible {
			color: $teal-1;
			text-decoration: underline;
		}
	}

}

// 3.0 - Secondary
.site-footer-secondary {
    padding: rem(20px) 0;

    &__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
        gap: rem(24px);

        @include respond-below(sm) {
            flex-flow: column;
            align-items: center;
            justify-content: center;
            gap: rem(48px);
        }
    }

    &__legal {
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        gap: rem(16px);

        @include respond-below(sm) {
            flex-flow: column;
            align-items: center;
            margin: rem(16px) auto 0;

            span {
                display: none;
            }
        }

        p,
        a {
            color: $white;
            display: inline-block;
            font-size: rem(16px);
            margin: 0;
        }

        a {
            text-decoration: none;
            @include transition();

            &:hover,
            &:focus-visible {
                text-decoration: underline;
                color: $teal-1;
            }
        }
    }
}