/*
Form Styles

@package atlas
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Variables
2.0 - Site-wide Input Resets
3.0 - Gravity Forms
	3.1 - Form Header
	3.2 - Form Sections
	3.3 - Input Overrides
	3.4 - Select & Time Fields
	3.5 - Checkboxes & Radio
	3.6 - Labels & Fields
	3.7 - Errors
	3.8 - Confirmation
4.0 - Progress Bar
5.0 - Button
6.0 - Search Field
--------------------------------------------------------------*/

//1.0 - Variables


//2.0 - Site-wide Input Resets
label {
	margin-bottom: rem(8px);
	font-size: rem(14px);
	font-weight: 400;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"]:not(.facetwp-search),
input[type="url"],
input[type="search"],
select:not([multiple="multiple"], .facetwp-dropdown),
textarea:not(.editor-post-title__input, .block-editor-default-block-appender__content) {
	-webkit-appearance: none;
	appearance: none;
	height: auto;
	margin: 0;
	padding: rem(12px);
	border: 1px solid $black;
	border-radius: $radius;
	background: transparent;
	font-size: rem(16px);
	line-height: 1.2;
	color: $black;
	vertical-align: baseline;
}

textarea:not(.editor-post-title__input, .block-editor-default-block-appender__content) {
	height: rem(180px);
	padding: rem(12px);
	line-height: 1.2;
	resize: vertical;
}

select[multiple="multiple"] {
	font-size: rem(16px);
}

input[type="submit"],
button[type="submit"] {
	@extend %button-base;

	font-size: rem(16px);
	cursor: pointer;
}


//3.0 - Gravity Forms
.gform_wrapper.gravity-theme {
	//3.1 - Form Header
	.gform_required_legend {
		margin: 0.25em 0 0;
		font-size: rem(14px);
		font-style: italic;
	}

	//3.2 - Form Sections
	.gsection {
		margin: 0 0 1rem;
		padding: 0 0 0.5rem;

		&:not(:first-child) {
			margin-top: 2rem;
		}

		.gsection_title {
			margin-bottom: 0.25em;
			font-size: rem(48px);
			font-weight: 700;

			@include respond-below(sm) {
				font-size: rem(34px);
			}
		}

		.gsection_description {
			padding: 0;
		}
	}

	//3.3 - Input Overrides
	// Override GF's default field appearance inside gravity-theme forms.
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="tel"],
	input[type="text"],
	input[type="url"],
	input[type="search"],
	select:not([multiple="multiple"]),
	textarea {
		padding: rem(12px);
		font-size: rem(16px);
		line-height: 1.2;
	}

	//3.4 - Select & Time Fields
	select:not([multiple="multiple"]) {
		appearance: none;
		padding-right: rem(40px);
		background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%231F2041" d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>');
		background-position: right rem(14px) center;
		background-size: rem(14px);
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		background-repeat: no-repeat;
	}

	.ginput_container_select,
	.gfield_time_ampm {
		position: relative;
		cursor: pointer;

		// &::after {
		// 	content: "\f107";
		// 	position: absolute;
		// 	top: 0;
		// 	right: 0;
		// 	z-index: 9;
		// 	display: block;
		// 	width: rem(40px);
		// 	height: rem(40px);
		// 	background: transparent;
		// 	font-family: $icon;
		// 	line-height: 1.2;
		// 	pointer-events: none;
		// 	text-align: center;
		// }
	}

	.gfield_time_ampm {
		flex-basis: auto;
		max-width: none;
	}

	.below.hour_minute_colon {
		align-self: baseline !important;
	}

	//3.5 - Checkboxes & Radio
	.gfield_checkbox,
	.gfield_radio {
		font-size: rem(16px);

		input {
			height: rem(24px);
		}

		label {
			font-size: 1em;
		}
	}

	//3.6 - Labels & Fields
	.gfield {
		margin-bottom: rem(0px);

		.gfield_label {
			margin-bottom: rem(8px);
			font-size: rem(14px);
			font-weight: 400;
		}

		&.gfield_error label {
			color: $red-2;
		}

		.gfield_description:not(.gfield_validation_message) {
			padding: rem(12px) 0 0;
			font-size: rem(14px);
		}

		.gfield_description.gfield_consent_description {
			padding: rem(12px);
			font-size: rem(16px);
		}

		&.field_description_above .gfield_description:not(.gfield_validation_message) {
			padding: rem(4px) 0 rem(12px);
		}

		.ginput_container {
			margin-top: rem(0px);
		}
	}

	// Sub-labels
	.ginput_complex label {
		&.gform-field-label--type-sub {
			font-size: rem(14px);
		}
	}
	

	//3.7 - Errors
	.gform_validation_errors {
		border-color: $red-2;
		border-radius: rem(6px);
		box-shadow: none;
		background-color: $white;
		color: $red-2;

		> h2 {
			font-family: $body;
			font-size: rem(15px);
			font-weight: 400;
			line-height: 1.4;
			color: $red-2;
		}
	}

	.gfield_validation_message,
	.validation_message {
		border-color: $red-2;
		border-radius: rem(6px);
		background-color: $white;
		color: $red-2;
	}

	//3.8 - Confirmation
	.gform_confirmation_wrapper {
		margin-bottom: rem(20px);
		padding: rem(20px) rem(30px);
		border: 1px solid $black-3;
		border-radius: rem(6px);
		background: transparent;
		color: $color-primary;
		text-align: center;

		br {
			display: none !important;
		}
	}
}

//4.0 - Progress Bar
.gf_progressbar_wrapper {
	margin-top: 2rem;
}

//5.0 - Button
input.button,
input.gform_button {
	@extend %button-base;

	font-size: rem(16px);
	cursor: pointer;
}

//6.0 - Search Field
#page input[type="search"].search-field {
	width: calc(100% - rem(40px));
	padding: 0;
	border: none;
	border-bottom: 1px solid $color-primary;
	border-radius: 0;

	&::placeholder {
		color: $color-primary;
	}

	&::-webkit-search-cancel-button {
		display: none;
	}
}
