/*
Scss - Resets

HTML Resets
@package atlas
*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%; /* Prevent font scaling after orientation change on iOS */
}

*,
*::before,
*::after {
	/* Inherit box-sizing to make it easier to change the property for components */
	box-sizing: inherit;
}

body {
	margin: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

b,
strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	max-width: 100%;
	margin-bottom: 1.6em;
	padding: 1.6em;
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 0.9375rem;
	line-height: 1.6;
	overflow: auto;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

hr {
	height: 1px;
	margin-bottom: 1.5em;
	border: 0;
	background-color: #ccc;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	max-width: 100%;
	height: auto;
}

embed,
iframe,
object {
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	width: 100%;
	margin: 0 0 1.5em;
}

summary {
	display: list-item;
}

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 0.6em 1em 0.4em;
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	font-size: 0.75rem;
	line-height: 1;
	color: rgb(0 0 0 / 80%);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	padding: 3px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #000;
}

select {
	border: 1px solid #ccc;
}

button,
select {
	text-transform: none;
}

textarea {
	width: 100%;
}

[type="search"] {
	-webkit-appearance: textfield; /* Safari */
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

progress {
	vertical-align: baseline;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
	position: absolute !important;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px); // stylelint-disable-line property-no-deprecated
	clip-path: inset(50%); // stylelint-disable-line property-no-deprecated
	overflow: hidden;
	overflow-wrap: normal !important;
}

.screen-reader-text:focus-visible {
	top: 5px;
	left: 5px;
	z-index: 100000;
	display: block;
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	border-radius: 3px;
	outline: none;
	box-shadow: 0 0 0 3px rgb(0 0 0 / 50%);
	background-color: #f1f1f1;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: normal;
	color: #21759b;
	text-decoration: none;
	clip: auto !important; // stylelint-disable-line property-no-deprecated
	clip-path: none; // stylelint-disable-line property-no-deprecated
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/* Remove inner focus spacing on buttons so the focus ring looks correct in Firefox. */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
