/*
Backend Sass Files 

@package mingo
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - WP Dashboard Override
2.0 - Load First
3.0 - Visual Editor
--------------------------------------------------------------*/



// 1.0 - WP Dashboard Override


// 2.0 - Load First
// Helps with loading Icons
@import "theme/variables";
@import "framework/functions";
@import "theme/fonts"; 
@import "theme/icomoon";



// 3.0 - Visual Editor
.edit-post-visual-editor {

	// Load only in preview mode
	.acf-block-preview {
		@import "theme/legacy";
		@import "theme/utility";
		@import "theme/typography";
		@import "framework/grid";
		
		@import "globals/header";
		@import "globals/menu-vertical";
		@import "globals/menu-drilldown";
		@import "globals/menu-horizontal";
		@import "globals/footer";
		@import "globals/footer-cta";
		
		@import "posttypes/settings";
		// @import "posttypes/events";
		// @import "posttypes/people";
		@import "posttypes/post";
		@import "posttypes/search";

		@import "pages/404"; 
 
		@import "components/hero";
		@import "components/blocks";

		// Add Heros (* do not remove this comment *)
		@import "blocks/hero-default";
		
		// Add Blocks (* do not remove this comment *)
		@import "blocks/heading";
		@import "blocks/video";
		@import "blocks/wysiwyg";
		
		@import "components/buttons";
		@import "components/cookie";
		@import "components/facets";
		@import "components/forms";
		@import "components/gutenberg";
		@import "components/hero";
		@import "components/popup";
		@import "components/slider";

		// @import "plugin/plyr/plyr.scss"; 
	}


	// Show module in full width on preview mode
	.acf-block-preview {
		margin-left: calc( -100vw / 2 + 100% / 2 + #{$scrollbarWidth} / 2 );
		margin-right: calc( -100vw / 2 + 100% / 2 + #{$scrollbarWidth} / 2 );
		width: $viewportWidth;
		max-width: $viewportWidth;
		padding: 0;
		position: relative;
		z-index: 0
	}
}
