/*
Scss - Block - Bento Grid

Bento Grid Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Bento Grid
--------------------------------------------------------------*/


//1.0 - Bento Grid
.grid.bento-grid__grid {
    grid-template-columns: repeat(12, 1fr);
}

.bento-grid-item {
    padding: rem(28px) rem(24px);
    background-color: $navy-4;

    &.has-img {
        color: $white;

        .btn {
            color: $white;
        }
    }

    &.column-one {
        grid-column: span 4;

        @include respond-below(md) {
            grid-column: span 4;
        }
        
        @include respond-below(xs) {
            grid-column: 1 / -1;
        }
    }

    &.column-two {
        grid-column: span 8;
        
        @include respond-below(xs) {
            grid-column: 1 / -1;
        }
    }

    &.column-three {
        grid-column: span 12;
    }

    .title,
    .headline {
        margin-top: 0;
    }
}

.theme-dark {
    .bento-grid-item {
        background-color: rgba($color: $navy-2, $alpha: .3);
    }
}