/*
Scss - Block - Heading

Heading Styles

@package atlas

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Heading
--------------------------------------------------------------*/

//1.0 - Heading
.heading__heading {
	max-width: rem(856px);
	margin: 0 auto;
	text-align: center;

	.title {
		margin: 0;

		&:has(+ .headline),
		&:has(+ .description) {
			margin-bottom: rem(14px);
		}

		&:has(+ .btn-group) {
			margin-bottom: rem(30px);
		}
	}

	.headline {
		margin: 0;

		&:has(+ .description) {
			margin-bottom: rem(16px);
		}

		&:has(+ .btn-group) {
			margin-bottom: rem(30px);
		}
	}

	.description {
		margin: 0;

		&:has(+ .btn-group) {
			margin-bottom: rem(30px);
		}

		> * {
			&:first-child {
				margin-top: 0;
			}
		}

		p {
			font-size: rem(18px);
		}
	}

	.btn-group {
		justify-content: center;
	}

	&.heading-left {
		margin: 0 auto rem(70px) 0;
		text-align: left;

		.btn-group {
			justify-content: flex-start;
		}
	}

	&.heading-center {
	}

	&.heading-right {
		margin: 0 0 rem(70px) auto;
		text-align: right;

		.btn-group {
			justify-content: flex-end;
		}
	}
}
