/*
Scss - Block - Call to Action

Call to Action Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Call to Action
--------------------------------------------------------------*/


//1.0 - Call to Action
.call-to-action__wrapper {
    position: relative;

    .bg-overlay {
        position: absolute;
        inset: 0;
        z-index: 1;
    }
}

.call-to-action-main {
    padding: rem(76px) rem(30px);
    position: relative;
    overflow: hidden;

    @include respond-below(md) {
        padding: rem(56px) rem(30px);
    }
    
    @include respond-below(sm) {
        padding: rem(40px) rem(20px);
    }

    &.theme-light {
		background-color: $white;
		color: $color-primary;

		i {
			color: $color-primary;
		}
	}
    
	&.theme-dark {
		background-color: $navy-1;
		color: $white;

		i {
			color: $white;
		}
	}
}

.call-to-action-bg {
    position: absolute;
    inset: 0;
}

.call-to-action__heading {
    position: relative;
    z-index: 2;
    max-width: rem(856px);
	margin: 0 auto rem(70px);
	text-align: center;

	.title {
		margin: 0 0 rem(14px);
	}
	.headline {
		margin: 0 0 rem(16px);
	}
	.description {
		margin: 0 0 rem(30px);

		> * {
			&:first-child {
				margin-top: 0;
			}
		}

		p {
			font-size: rem(18px);
		}
	}
	.btn-group {
		justify-content: center;
	}

	&.heading-left {
		margin: 0 auto rem(70px) 0;
		text-align: left;

		.btn-group {
			justify-content: flex-start;
		}
	}

	&.heading-center {}

	&.heading-right {
		margin: 0 0 rem(70px) auto;
		text-align: right;

		.btn-group {
			justify-content: flex-end;
		}
	}
}

.theme-dark {
    .call-to-action__heading {
        .title {
            color: $white;
        }
        
        .headline {
            color: $white;
        }

        .description {
            color: $white;
        }

        .btn__solid {
            background-color: $white;
            color: $navy-1;
            border-color: $white;

            &:hover {
                background-color: $color-accent;
                border-color: $color-accent;
            }
        }

        .btn__outline {
            background-color: transparent;
            color: $white;
            border-color: $white;
        }

        .btn__text {
            color: $white;

            &:hover {
                color: $color-accent;
            }
        }
    }
}