/*
Scss - Block - Callout Image

Callout Image Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Callout Image
--------------------------------------------------------------*/


//1.0 - Callout Image
.callout-image__grid {
      
    .column {
        grid-column: 1/-1;
    }

    &.vertical-center {
        @include respond-above(md) {
            align-items: center;
        } 
    }

    @include respond-above(md) {
        .column {
            grid-column: span 5;
        }

        // align left (default)
        .callout-image__image {
            grid-column: 8 / span 5;
        }

        // align right
        &.content-align-right {
            .callout-image__content {
                order: 2;
                grid-column: 8 / span 5;
            }
            .callout-image__image {
                order: 1;
                grid-column: 1 / span 5;
            }
        }
    }
}

.callout-image__image {
    img {
        display: block;
        width: 100%;
    }
}

.callout-image__content {
    .title {
        margin-top: 0;
    }
    .headline {
        margin-top: 0;
    }
    .description {
        margin-top: 0;
    }
    
    .btn__text {
        text-decoration: none;
        i { transition: all 0.2s; }
        &:hover {
            i {
                transform: translateX(0.25em);
            }
        }
    }
}

.theme-dark.callout-image__wrapper {
    .btn__text {
        color: $white;
    }
}