/*
Scss - Block - Form

Form Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Form
--------------------------------------------------------------*/


//1.0 - Form
.form__wrapper {
    position: relative;
    overflow: hidden;
}


.form-grid {
    @include respond-below(sm) {
        row-gap: rem(60px);
    }

    &.no-content {
        .form-form {
            grid-column: 4 / span 6;

            @include respond-below(md) {
                grid-column: 2 / span 6;
            }
        
            @include respond-below(sm) {
                grid-column: 1 / -1;
            }
        }
    }
}

.form-content {
    grid-column: span 6;

    @include respond-below(md) {
        grid-column: span 4;
    }

    @include respond-below(sm) {
        grid-column: 1 / -1;
    }

    .headline {
        margin-top: 0;
    }
}

.theme-light,
.theme-default {
    .form-form {
        background-color: #E8E8EC;
    }

    .form-disclaimer {
        color: rgba($color: $navy-2, $alpha: .6);
    }
}

.theme-dark {
    .form-form {
        background-color: rgba($color: $navy-4, $alpha: .14);
    }

    .form-disclaimer {
        color: rgba($color: $navy-4, $alpha: .6);
    }
}
.form-form {
    grid-column: 8 / span 5;

    position: relative;
    overflow: hidden;
    border-radius: rem(12px);

    @include respond-below(md) {
        grid-column: span 4;
    }

    @include respond-below(sm) {
        grid-column: 1 / -1;
    }

    .form-image {
        img {
            display: block;
            width: 100%;
        }
    }
    
    .form-body {
        padding: rem(36px) rem(46px);

        @include respond-below(xs) {
            padding: rem(35px) rem(26px);
        }
    }

    .form-title {
        margin-top: 0;
    }

    .form-disclaimer {
        font-size: rem(14px);
        margin: 0;
    }
}