/*
Scss - Block - Full Width Media

Full Width Media Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Full Width Media
--------------------------------------------------------------*/


//1.0 - Full Width Media
.full-width-media__wrapper {
    position: relative;
    overflow: hidden;

    &.block__wrapper.theme-dark,
    &.block__wrapper.theme-light,
    &.block__wrapper.theme-default {
        background: transparent;
    }

    &.theme-dark {
        .btn__solid {
            background-color: $white;
            color: $color-dark;

            &:hover {
                background-color: $color-light;
                color: $color-dark;
            }
        }
        .btn__outline {
            border-color: $white;
            color: $white;

            &:hover {
                background-color: $white;
                color: $color-dark;
            }
        }

        .btn__text {
            color: $white;

            &:hover {
                color: $color-light;
            }
        }
    }

    .bg-overlay {
        position: absolute;
        inset: 0;
    }
    .video:not(.media-full) {
        position: absolute;
        inset: 0;
        min-width: 100%;
        min-height: 100%;
    }
    .video {
        &.media-full {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.full-width-media-bg-image {
   
    img {
        display: block;

        @include respond-below(sm) {
            width: 100%;
            height: 100%;
            object-fit: cover;
            min-height: rem(540px);
        }
    }
}

.full-width-media-container {
    position: relative;

    // if Crop is 'on' ...
    &.media-crop {
        overflow: hidden;

        .full-width-media-bg-image {
            position: absolute;
            inset: 0;

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        .full-width-media-content {
            padding: rem(60px);
        }
    }
}


.full-width-media__heading {
    position: relative;
    z-index: 2;
    margin-bottom: 0;
}

.content-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

    display: flex;
    align-items: center;

    .full-width-media__heading {}
}

.full-width-media-content {
    left: rem(60px);
    right: rem(60px);
}