/*
Scss - Hero - Hero Media

Hero Media Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Hero Media    
--------------------------------------------------------------*/


//1.0 - Hero Media
.hero-media-hero {
    position: relative;
    overflow: hidden;
}

.hero-media-bg-video,
.hero-media-bg-image {
    position: absolute;
    inset: 0;

    min-width: 100%;
    min-height: 100%;
}

.hero-media-bg-image {
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
    }
}

.hero-media-bg-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.hero-media-grid {
    position: relative;
    z-index: 2;

    &.media-left {
        @include respond-above(md) {
            .hero-media-media {
                order: 1;    
            }
            .hero-media-content {
                padding-left: rem(30px);
                order: 2;
            }
        }
    }
    &.media-right {
        @include respond-above(md) {
            .hero-media-content {
                padding-right: rem(30px);
            }
        }
    }
}

.hero-media-content {
    grid-column: span 7;
}

.hero-media-media {
    grid-column: span 5;

    video {
        width: 100%;
        display: block;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
