/*
Scss - Hero - Hero Columns

Hero Columns Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Hero Columns
--------------------------------------------------------------*/


//1.0 - Hero Columns
.hero-columns-hero {}

.hero-columns-grid {
    row-gap: rem(120px);

    @include respond-below(sm) {
        row-gap: rem(60px);
    }
}

.hero-columns-content {
    @include respond-above(md) {
        grid-column: 3 / span 8;
        grid-row: 1;
        text-align: center;

        .btn-group {
            justify-content: center;
        }
    }
    @include respond-below(md) {
        grid-column: 1 / -1;
        grid-row: 1;
        text-align: center;

        .btn-group {
            justify-content: center;
        }
    }
}

.hero-columns-columns {
    grid-column: 1 / -1;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem(30px);

    &.column-two {
        grid-template-columns: repeat(2, 1fr);

        @include respond-below(xs) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &.column-three {
        grid-template-columns: repeat(3, 1fr);

        @include respond-below(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-below(xs) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &.column-four {
        grid-template-columns: repeat(4, 1fr);

        @include respond-below(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-below(xs) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .column {
        grid-column: span 1;

        i {
            font-size: rem(24px);
        }
    }
}
