/*
Scss - Hero - Hero Stacked

Hero Stacked Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Hero Stacked
--------------------------------------------------------------*/


//1.0 - Hero Stacked
.hero-stacked-hero {
    position: relative;
    overflow: hidden;
}

.hero-stacked-hero {
    &.hero {
        &.theme-light,
        &.theme-dark,
        &.theme-default {
            background-color: transparent;
        }
    }
    
    &.no-media {
        .hero-stacked-bg {
            bottom: 0;
        }
    }
}

.hero-stacked-bg {
    position: absolute;
    inset: 0;
    bottom: rem(356px);
    overflow: hidden;

    &.bg-light {
        background-color: $navy-4;
    }

    @include respond-below(md) {
        bottom: rem(240px);
    }
    @include respond-below(sm) {
        bottom: rem(120px);
    }
}

.hero-stacked-bg-image {
    img {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero-stacked-bg-video {
    @include respond-above(md) {
        width: 100%;
    }
}

.hero-stacked-bg-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
}


.hero-stacked-grid {
    position: relative;
    z-index: 2;
}

.hero-stacked-content {
    grid-column: span 7;

    @include respond-below(md) {
        grid-column: 1/-1;
    }

    ~ .hero-stacked-media {
        margin-top: rem(56px);
    }

    &.content-default {}
    &.content-light {
        color: $white;
    }
    &.content-dark {}

    &.content-center {
        @include respond-above(md) {
            grid-column: 3 / span 8;
            text-align: center;

            .btn-group {
                justify-content: center;
            }
        }
        @include respond-below(md) {
            grid-column: 1 / -1;
            text-align: center;

            .btn-group {
                justify-content: center;
            }
        }
    }
    
    &.content-right {
        @include respond-above(md) {
            grid-column: 6 / span 7;
        }
    }
}

.hero-stacked-media {
    grid-column: 1 / -1;

    img {
        width: 100%;
        display: block;
    }

    video {
        width: 100%;
        display: block;
    }
}