/*
Scss - Hero - Hero Resources

Hero Resources Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Hero Resources
--------------------------------------------------------------*/


//1.0 - Hero Resources
.hero.hero-resources__hero {
    position: relative;
    overflow: hidden;

    .bg-block {
        position: absolute;
        inset: 0;
        max-height: rem(1102px);
        bottom: rem(120px);

        @include respond-below(md) {
            max-height: rem(842px);
        }
    }
}

.hero-resources__feature-post {
    position: relative;
    z-index: 2;
    padding: rem(65px) rem(75px);

    @include respond-below(sm) {
        padding: rem(65px) rem(30px);
    }

    .title, 
    .headline,
    .content,
    .btn-group {
        position: relative;
        z-index: 2;
        color: $color-light;
    }

    .title {
        margin: 0 0 rem(20px) 0;
    }

    .headline {
        margin: 0 0 rem(20px) 0;
    }

    .content {
        max-width: rem(562px);
    }

    .btn-group {
        margin: rem(72px) 0 0 0;

        @include respond-below(md) {
            margin: rem(40px) 0 0 0;
        }

        .btn__solid {
            background-color: $color-light;
            border-color: $color-light;
            color: $color-dark;
        }

        .btn__outline {
            color: $color-light;
            border-color: $color-light;
            background-color: transparent;
        }

        .btn__text {
            color: $color-light;
        }
    }

    .overlay {
        position: absolute;
        inset: 0;
        z-index: 1;
        border-radius: rem(25px);
    }
}

.hero-resources__bg {
    position: absolute;
    inset: 0;
    border-radius: rem(25px);

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: rem(25px);
    }
}


.hero-resources__resources-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(28px);
    position: relative;
    z-index: 3;
    margin: rem(80px) 0 0 0;
    
    @include respond-below(md) {
        display: flex;
        grid-template-columns: none;
        gap: rem(20px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin-left: rem(-20px);
        margin-right: rem(-20px);
        padding-left: rem(20px);
        // padding-right: rem(20px);
        // width: calc(100% + rem(40px));
        

        &::-webkit-scrollbar {
            display: none;
        }

        .post-teaser {
            flex: 0 0 46%;
            scroll-snap-align: start;

            &:first-child {
                scroll-margin-left: 20px;
            }

            &:last-child {
                scroll-margin-right: 20px;
            }
        }
    }

    @include respond-below(sm) {
        .post-teaser {
            flex: 0 0 60%;
        }
    }

    @include respond-below(xs) {
        .post-teaser {
            flex: 0 0 90%;
        }
    }

    .post-teaser {
        background-color: $grey-2;

        .wrapper {
            padding: 0;
            text-decoration: none;
            color: $navy-1;
            display: flex;
            flex-flow: row wrap;
        }

        .post-image {
            height: rem(280px);
            position: relative;
            overflow: hidden;
            width: 100%;
            
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .post-content {
            padding: rem(24px) rem(40px) rem(30px);

            flex: 1;
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            align-items: flex-start;

            @include respond-below(sm) {
                padding: rem(24px) rem(20px) rem(30px);
            }

            p {
                color: $navy-3;
            }

            .btn {
                margin: auto 0 0 0;
            }
        }

        .tag {
            color: #9f9f9f;
            text-decoration: none;
            font-size: rem(14px);
        }

        .title {
            margin: rem(20px) 0 rem(10px);
        }
    }
}