/*
Scss - Block - Pricing

Pricing Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Pricing
--------------------------------------------------------------*/


//1.0 - Pricing
.pricing__wrapper {}

.grid-1 {
    .pricing-item {
        grid-column: 1 / -1;
    }
}
.grid-2 {
    .pricing-item {
        grid-column: span 6;

        @include respond-below(md) {
            grid-column: span 4;
        }

        @include respond-below(sm) {
            grid-column: 1 / -1;
        }
    }
}
.grid-3 {
    &.pricing-grid {
        @include respond-below(md) {
            grid-template-columns: repeat(12, 1fr);
        }

        @include respond-below(sm) {
            row-gap: rem(60px);
        }
    }

    .pricing-item {
        grid-column: span 4;

        @include respond-below(md) {
            grid-column: span 4;
        }

        @include respond-below(sm) {
            grid-column: 1 / -1;
        }
    }
}

.pricing-item {
    background-color: $navy-4;
    padding: rem(30px) rem(40px);
    position: relative;

    .highlight-tag {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        padding: rem(4px) rem(20px);

        font-weight: 600;
        color: $white;
        background-color: $navy-1;
        text-align: center;
    }

    .headline {
        margin-top: 0;
    }

    .pricetag {
        @include headingH1();
        margin-top: 0;
    }

    .disclaimer {
        font-size: rem(13px);
        font-style: italic;
    }

    .pricing-intro {
        margin: 0 0 rem(34px);
        padding: 0 0 rem(30px);
        border-bottom: 1px solid rgba($color: $navy-3, $alpha: .3);
        text-align: center;
    }

    .pricing-content {
        
    }
}

.theme-dark {
    .pricing-item {
        background-color: rgba($color: $navy-2, $alpha: .3);

        .highlight-tag {
            background-color: $navy-4;
            color: $navy-1;
        }
    }
}