/*
Scss - Block - Pullquote

Pullquote Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Pullquote
--------------------------------------------------------------*/


//1.0 - Pullquote
.pullquote-main {
    max-width: rem(636px);
    padding: 0 0 0 rem(28px);
    border-left: 1px solid #D9D9D9;

    &.content-center {
        margin: 0 auto;
    }
    &.content-right {
        margin: 0 0 0 auto;
    }

    .quote {
        font-size: rem(22px);
        line-height: 1.4;
        margin: 0 0 rem(20px);
    }
    .quote-meta {}
    .quote-name {}
    .quote-job {}
    .quote-company {}
}

.theme-dark {
    .pullquote-main {
        border-color: $navy-2;
    }
}