/*
Scss - Block - Related Content

Related Content Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Related Content
--------------------------------------------------------------*/


//1.0 - Related Content
.related-content__heading.block__heading {
    &.heading-left,
    &.heading-right,
    &.heading-center {
        @include respond-above(lg) {
            margin-bottom: rem(30px);
        }
    }
}
.related-content-main {
    .slick-list {
        margin: 0 rem(-10px);
    }
    .slick-track {
        display: flex;
    }
    .slick-slide {
        margin: 0 rem(10px);
        height: inherit;
    }

    .slick-arrow {
        top: auto;
        bottom: 100%;
        left: auto;

        &.slick-prev {
            right: rem(50px);
        }
        &.slick-next {
            right: 0;
        }
    }

    .post-wrapper {
        text-decoration: none;
        color: inherit;
    }
}