/*
Scss - Block - Slider Card

Slider Card Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Slider Card
--------------------------------------------------------------*/


//1.0 - Slider Card
.slider-logo-slider {
    .slick-track {
        display: flex;
        align-items: center;
        gap: rem(60px);

        @include respond-below(sm) {
            gap: 0;
        }
    }

    .slick-slide {
        @include respond-below(sm) {
            margin: 0 rem(50px);
        }
    }

    .logo-image {
        img {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
}