/*
Scss - Block - Tab Image

Tab Image Styles

@package mingo

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Tab Image
--------------------------------------------------------------*/


//1.0 - Tab Image
.tab-image-grid {
    &.media-left {
        .tab-image__media-item {
            grid-column: 1 / span 6;
            grid-row: 1;

            @include respond-below(md) {
                grid-column: 1 / -1;
                grid-row: auto;
            }
        }
        
        .tab-image__content-item {
            grid-column: 7 / span 6;
            grid-row: 1;

            @include respond-below(md) {
                grid-column: 1 / -1;
                grid-row: auto;
            }
        }
    }
    &.media-right {
        .tab-image__media-item {
            grid-column: 7 / span 6;
            grid-row: 1;

            @include respond-below(md) {
                grid-column: 1 / -1;
                grid-row: auto;
            }
        }

        .tab-image__content-item {
            grid-column: 1 / span 6;
            grid-row: 1;

            @include respond-below(md) {
                grid-column: 1 / -1;
                grid-row: auto;
            }
        }
    }
}

.tab-image__media-item {
    .tab-image__media {
        display: none;

        &.active {
            display: block;
        }
    }

    img {
        display: block;
        width: 100%;
    }
}

.tab-image__content-item {
    display: flex;
    flex-flow: column wrap;
    gap: rem(16px);

    .tab-image__content {
        width: 100%;
        padding: rem(26px) rem(46px);
        transition: background-color 0.2s;
        cursor: pointer;

        @include respond-below(xs) {
            padding: rem(26px);
        }

        &.active {
            background-color: $navy-4;
        }

        &:not(.active):hover {
            background-color: rgba($navy-4, 0.6);
        }
    }
    

    .title,
    .headline {
        margin-top: 0;
    }
}

.theme-dark {
    .tab-image__content-item {
        .tab-image__content {
            &.active {
                background-color: rgba($color: $navy-2, $alpha: .3);
            }
    
            &:not(.active):hover {
                background-color: rgba($color: $navy-2, $alpha: .15);
            }
        }
    }
}